@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');:root{
    --yellow: rgb(218, 238, 0);
    --dark-green: #093e18;
    --senape: #c9bb00;
    --white: #fff;
    --dark-red-gradient: linear-gradient(0deg, rgb(121, 12, 10) 0%, rgb(82, 24, 9) 100%);
--box-shadow: 5px 5px 15px 5px #ede6e6;
--dark-red: #4d0d0d;
--navbar-border: 1px solid #c5c5c5;
--light-red: #933131;
--navbar-border:  1px solid #d3d3d3;
--black: #111111;
}
body {
    font-family: 'Inter', sans-serif;
  }


    h1{
        text-align: center;
    }

    
    

.navbar {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 2;
  }


  
  .navbar.nav-fixed {
    position: fixed;
  }
  
  .navbar .nav-container {
    height: 60px;
    align-items: center;
    display: flex;
  }
  
  .navbar .nav-logo {
    margin: 0;
    padding-left: 50px;
    height: 50px;
    width: 100px;
  }
  
  .navbar .nav-logo img {
    max-height: 50px;
  }
  
  .navbar .nav-links-list {
    display: flex;
    margin: 0;
    list-style-type: none;
    height: 60px;
    align-items: center;
    padding: 0;
  }
  
  .navbar .nav-left {
    padding-left: 100px;
  }
  
  .navbar .nav-right {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 100px;
  }
  
  .navbar .nav-links-list .nav-item a#main-link {
    font-size: 15px;
    padding: 21px;
    text-decoration: none;
    font-family: Sans-serif;
    transition: linear 100ms;
  }
  
  .navbar .nav-links-list li.nav-item {
    transition: linear 100ms;
  }
  
  /* Dropdown Nav */
  .navbar .nav-dropdown {
    position: absolute;
    list-style-type: none;
    padding: 0;
    top: 60px;
    display: none;
    transition: linear 100ms;
  }
  
  .navbar .nav-dropdown li {
    display: grid;
  }
  
  .navbar .nav-dropdown a {
    background: var(--white);
    border-bottom: var(--navbar-border);
    border-left: var(--navbar-border);
    border-right: var(--navbar-border);
    color: var(--black);
    padding: 20px 30px;
    text-decoration: none;
    animation: fadeIn 300ms;
    transition: linear 100ms;
    font-family: Sans-serif;
    font-size: 14px;
    max-width: 120px;
  }
  
  .navbar .nav-dropdown a:hover {
    background: var(--light-red);
    border-bottom: var(--navbar-border);
    border-left: var(--navbar-border);
    border-right: var(--navbar-border);
    color: var(--white);
  }
  
  /* Navbar Light */
  .navbar.nav-light .nav-logo #nav-light-logo {
    display: none;
  }
  
  .navbar.nav-light {
    background: var(--white);
    box-shadow: 0 0 6px rgb(0 0 0 / 38%);
  }
  
  .navbar.nav-light .nav-links-list .nav-item a#main-link {
    border-right: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    background: var(--white);
    color: var(--black);
  }
  
  .navbar.nav-light .nav-links-list .nav-item a#main-link:hover {
    border-right: var(--navbar-border);
    border-bottom: var(--navbar-border);
    background:var(--light-red);
    color: var(--white);
  }
  
  .navbar.nav-light .nav-links-list .nav-item a#main-link:active {
    background: var(--light-red);
  }
  
  .navbar.nav-light li:first-child a#main-link {
    border-left: var(--navbar-border);
  }
  
  /* Navbar Dark */
  .navbar.nav-dark .nav-logo #nav-dark-logo {
    display: none;
  }
  
  .navbar.nav-dark {
    background: var(--dark-red-gradient);
  }
  
  .navbar.nav-dark .nav-links-list .nav-item a#main-link {
    border-right: var(--navbar-border);
    border-bottom: var(--navbar-border);
    background: var(--dark-red);
    color: var(--white);
  }
  
  .navbar.nav-dark .nav-links-list .nav-item a#main-link:hover {
    border-right: var(--navbar-border);
    border-bottom: var(--navbar-border);
    background: var(--light-red);
    color: var(--white);
  }
  
  .navbar.nav-dark .nav-links-list .nav-item a#main-link:active {
    background: var(--dark-red);
  }
  
  .navbar.nav-dark li:first-child a#main-link {
    border-left: 1px solid #292A2D;
  }
  
  /* Responsive CSS Navbar */
  @media only screen and (min-width: 1150px) {
    .navbar .mobileToggle,
    .navbar .mobileToggleClose {
      display: none;
    }
  
    .navbar .dropdown-link.hover:hover .nav-dropdown {
      display: block;
      transition: linear 100ms;
    }
  
    .navbar .dropdown-link.click:focus-within .nav-dropdown {
      display: block;
      transition: linear 100ms;
    }
  }
  
  @media only screen and (max-width: 1150px) {
    .navbar .navigation .nav-item {
      display: none;
    }
  
    .navbar .nav-right {
      position: relative;
      padding-right: 20px;
    }
  
    .navbar .mobileToggle {
      position: relative;
      float: right;
    }
  
    .navbar .mobileToggleClose {
      position: absolute;
      right: 20px;
    }
  
    .navbar .mobileToggle a,
    .navbar .mobileToggleClose a {
      font-size: 20px;
      padding: 15px;
    }
  
    .navbar.nav-dark .mobileToggle a,
    .navbar.nav-dark .mobileToggleClose a {
      color: var(--white);
      background: var(--light-red);
    }
  
    .navbar.nav-light .mobileToggle a,
    .navbar.nav-light .mobileToggleClose a {
      color: var(--black);
      background: var(--white);
    }
  
    .navbar .navigation:focus-within .mobileToggle i {
      display: none;
    }
    .navbar .navigation:focus-within .mobileToggle a {
      position: absolute;
      top: -100px;
    }
    .navbar .navigation:focus-within .nav-item {
      display: inherit;
    }
  
    .navbar .nav-links-list {
      display: grid;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      animation: fadeIn 200ms;
    }
  
    .navbar .nav-container {
      display: grid;
    }
  
    .navbar .nav-links-list .dropdown-link i {
      float: right;
    }
  
    .navbar .nav-dropdown {
      position: absolute;
      left: 0;
      right: 0;
    }
  
    .navbar .nav-dropdown .nav-item a {
      background: var(--white);
      padding-left: 50px;
    }
  
    .navbar .nav-logo {
      position: absolute;
    }
  
    .navbar .dropdown-link:focus-within .nav-dropdown {
      display: contents;
    }
  
    .navbar .nav-dropdown a {
      max-width: 100%;
      animation: none;
    }
  }
  
  /* Navbar Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1
    }
  }

.book-btn{
    background: var(--yellow);
    background: var(--dark-red-gradient);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      color: var(--white);
      
}

.book-btn a{
  color: var(--white);
  text-decoration: none;
}

.book-btn:before,
.book-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: var(--yellow);
  transition: all 0.3s ease;
  
}
.book-btn:before {
  height: 0%;
  width: 2px;
}
.book-btn:after {
  width: 0%;
  height: 2px;
}
.book-btn:hover{
  box-shadow: none;
  background:rgba(51, 51, 51, 0.33);

  
}
.book-btn:hover:before {
  height: 100%;
}
.book-btn:hover:after {
  width: 100%;
}




.book-btn2{
    background: var(--dark-red-gradient);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      
      
}

.book-btn2 a{
  color: var(--white);
  text-decoration: none;
}


.book-btn2:hover{
  box-shadow: none;
  background:var(--dark-red);

  
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green);
  height: 40em;
  border: 3px solid var(--senape);

}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 3px solid var(--light-red);

}
.slider img {
  width: 60%;
  object-fit: cover;
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  width: 100%;
  overflow: hidden;
  left: 0;
}

.slider ul li {
  position: absolute;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: var(--senape);
  text-align: center;
  transition: ease-out 0.4s;
  color: var(--white);
  font-size: 22px;
  display: flex;
  font-size: 1.2em;
}

.slider ul li span {
  text-align: center;
  padding: 1em;
}

.slider ul li.active {
  left: 0;
}

.slider ul li.slider2 {
  background: var(--senape);
}

.slider ul li.slider3 {
  background: var(--senape);
}

.slider ul li.slider4 {
  background: var(--senape);
}

.slider ul li.slider5 {
  background: var(--senape);
}

.slider ul li.slider6 {
  background: var(--senape);
}

/* Controls */
.controls {
  -webkit-transition: all 0.5s ease;
  opacity: 0;
}

.control_prev,
.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 20px;
  width: auto;
  height: auto;
  background: rgba(51, 51, 51, 0.33);
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0;
  cursor: pointer;
}

.slider:hover .controls {
  -webkit-transition: all 0.5s ease;
  opacity: 1;
}

.slider:hover .controls .control_prev,
.slider:hover .controls .control_next {
  opacity: 0.8;
}

.control_prev {
  left: 0;
  border-radius: 0 10px 10px 0;
  
}

.control_next {
  right: 0;
  border-radius: 10px 0 0 10px;
  
}




.slider:hover .controls .control_prev:hover,
.slider:hover .controls .control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

.guests-section-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .guests-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .tick-symbol {
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .book-btn2 {
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    .guests-list-container {
      grid-template-columns: 1fr;
    }
  }
  .features-section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--dark-green);
    border: 5px solid var(--senape);

  }

  .features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
   
  }

  .feature-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border: 3px solid var(--light-red);

  }

  .feature-image {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .features-container {
      grid-template-columns: 1fr;
    }
  }

  
  
  #about{
    background-color: var(--dark-green);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--senape);

    
  }

  #about img{
    width: 20%;
  }


  #tour-container{
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .tour-img{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .tour-img img{
    width: 30%;
    padding: 1em;
    background: var(--senape);
  }
.tour-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    

}

.tour {
    position: relative; /* Make sure the container is positioned */
    background: url("https://www.gorillatrekkingugandafromkigali.com/wp-content/uploads/2019/12/twin-lakes-in-rwanda.jpg");
    background-size: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    opacity: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 93, 47, 0.5); /* Adjust the alpha value for the desired opacity */
    z-index: 0; /* Place it behind the content */
  }
  

.tour-intro img{
    max-width: 100%;
  height: auto;
  padding: 1em;
}


#tour-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
   
  }
  #tour-timeline .timeline-start,
  #tour-timeline .timeline-end {
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: var(--dark-green);
    padding: 15px 23px;
    color: var(--white);
    max-width: 5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    

  }
  #tour-timeline .tour-center-line {
    position: absolute;
    width: 3px;
    height: 93%;
    top: 5;
    left: 50%;
    margin-left: -2px;
    background: var(--dark-green);
    z-index: 1;
  }
  #tour-timeline .tour-timeline-content {
    padding-top: 67px;
    padding-bottom: 67px;
  }
  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 44%;
    width: 100%;
  }

  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.03);
    padding: 27px 25px;
  }
  .timeline-article p {
    margin: 0 0 0 60px;
    padding: 0;
    font-weight: 400;
    color: #242424;
    font-size: 14px;
    line-height: 24px;
    position: relative;
  }
  .timeline-article p span.article-number {
    position: absolute;
    font-weight: 300;
    font-size: 1em;
    top: 10px;
    left: -60px;
    color: var(--dark-green);
  }
  .timeline-article .content-left-container {
    float: left;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border: 3px solid var(--senape);
  }
  .timeline-article .content-right-container {
    float: right;
    -webkit-box-shadow: var(--box-shadow);
box-shadow: var(--box-shadow);
border: 3px solid var(--senape);
  }
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
    position: absolute;
    top: 20px;
    font-size: 23px;
    font-family: "FontAwesome";
    color: #fff;
  }
  .timeline-article .content-left:before {
    right: -8px;
  }
  .timeline-article .content-right:before {
    left: -8px;
  }
  .timeline-article .meta-date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    color: #fff;
    border-radius: 100%;
    background: var(--dark-green);
    z-index: 1;

  }
  .timeline-article .meta-date .date,
  .timeline-article .meta-date .month {
    display: block;
    text-align: center;
    font-weight: 900;
    
  }
  .timeline-article .meta-date .date {
    font-size: 1em;
    line-height: 40px;
    
  }
  .timeline-article .meta-date .month {
    font-size: 18px;
    line-height: 10px;
  }
  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
    #tour-timeline .timeline-start,
    #tour-timeline .timeline-end {
      margin: 0;
     
    }

    .tour-img img {
      width: 100%;
    }
    #tour-timeline .tour-center-line {
      margin-left: 0;
      left: 50px;
    }
    .timeline-article .meta-date {
      margin-left: 0;
      left: 20px;
    }
    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 110px;
      min-height: 53px;
    }
    .timeline-article .content-left-container {
      margin-bottom: 20px;
    }
    .timeline-article .content-left,
    .timeline-article .content-right {
      padding: 10px 25px;
      min-height: 65px;
    }
    .timeline-article .content-left:before {
      right: auto;
      left: -8px;
    }
    .timeline-article .content-right:before {
      display: none;
    }
  }
  @media only screen and (max-width: 400px) {
    .timeline-article p {
      margin: 0;
    }}

    @media only screen and (max-width: 768px){
    #about{
      background-color: var(--dark-green);
      padding: 1em;
      display: block;
     
      
    }
  
    #about img{
      width: 50%;
    }
 }

 #booking-section{
  background:url("images/gorilla3.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--light-red);
  border: 3px solid var(--senape);
display: flex;
align-items: center;
justify-content: center;


}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1em;
  
}

/* Reset some default styles for form elements */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"],
#contact label,
#contact input[type="checkbox"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  
}

#contact {
  background: var(--white);
  padding: 25px;
  box-shadow: var(--box-shadow);
  
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: var(--white);
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--dark-red-gradient);
  color: var(--white);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--dark-red);

}

#contact button[type="submit"]:active {
  box-shadow: var(--box-shadow);
}



#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-item {
  flex: 0 0 100%; 
  margin-bottom: 10px;
}

.checkbox-label {
  display: block;
  margin-right: 10px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: var(--white);
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons img{
  width: 3em;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--white);
  font-size: 10px;
}

.made-by {
  font-size: 14px; /* Adjust as needed */
  margin-bottom: 10px;
}

.made-by a {
  color: var(--white);
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .social-icons {
    margin-bottom: 10px;
  }

  .social-icons a {
    font-size: 20px; 
  }
}
